/**
 * This is the main CSS file for the layout, which will contain most of your site's CSS.
 */

/********** Key **********

.blockName
.blockName-elementName (for a subcomponent of a block)
.blockName_modifierName (for a variation of a block)

*/


/********** CSS Reset & Base Styles **********/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,div,i,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,label,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img,abbr,acronym {
    border: 0;
}

address,caption,i,cite,code,dfn,th,var {
    font-style: normal;
    font-weight: normal;
}

caption,th {
    text-align: left;
}

input, textarea {
    font-family: inherit;

    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button {
	font-family: inherit;
}

html {
    height: 100%;
    padding: 0 !important;
}

body {
    position: relative;
    font-size: 125%; /* 20px */
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    color: #787980;
    line-height: 1.5em;
    background: #FAFAFA;

    -webkit-text-size-adjust: 100%; /* responsive */
}
    body.adminbar-loaded {
        margin-top: 40px; /* Make sure the adminbar doesn't cover the page */
    }
    body.adminbar-loaded.layout_modal {
        margin-top: 0; /* Make sure the adminbar doesn't cover the page */
    }

#adminbar {
    font-size: .7em;
}
/* Hide adminbar in modal windows */
.layout_modal #adminbar {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: 600;
}

ol,ul {
    margin-bottom: 2em;
    padding-left: 1.9em;
    line-height: 1.6em;
}

li {
    margin-bottom: .6em;
}

td {
    vertical-align: top;
}

hr {
	border-bottom: none;
	border-top: 2px solid rgba(0,0,0,0.07);
	border-left: none;
	border-right: none;
	height: 0px;
	margin-top: 26px;
	margin-bottom: 26px;
}

a {
    color: #8CB1C4;
    text-decoration: none;
    font-weight: 400;
}
a:visited {
    color: #8CB1C4;
}
a:hover, a:focus {
    color: #95B45B;
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}

/**
 * Helper class for removing the base link styles
 */
a.noLink {
    font-weight: inherit;
    text-decoration: inherit;
    color: inherit;
}
    a.noLink:hover, a.noLink:active, a.noLink:focus {
        color: inherit;
        text-decoration: inherit;
    }


/* Animations */

#ANIMATE,
a, a:hover,
.animate {
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

/* End Animations */

::-webkit-input-placeholder {
    color: #9E9EAF;
}
:-moz-placeholder {
    color: #9E9EAF;
}
::-moz-placeholder {
    color: #9E9EAF;
}
::-ms-input-placeholder {
    color: #9E9EAF;
}
.placeholder {
    color: #9E9EAF;
}

/********** Helper Classes **********/

.noMargin.noMargin {
    margin: 0;
}

.noPad.noPad {
    padding: 0;
}

.columnize2 li, .columnize3 li, .columnize4 li {
    padding-right: 2.5em;
}

.clickable {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
    position: absolute;
    z-index: -99;
}

/**
 * Wrap tables and other elements with this to make it possible to enable horizontal scroll when the screen size is too small to contain the element fully
 */
.scrollWrapper {
    overflow: auto;
    position: relative;
    margin-bottom: 2em;
}
    .scrollWrapper > table {
        margin: 0;
    }
   /* @media (max-width: 600px) {
        .scrollWrapper {
            -moz-box-shadow: inset -2px 0 10px rgba(0,0,0,.5);
            -webkit-box-shadow: inset -2px 0 10px rgba(0,0,0,.5);
            box-shadow: inset -2px 0 10px rgba(0,0,0,.5);
        }
    }*/


/********** Blocks **********/

/* Sets site's main container width */
.container {
    width: 80%;
    min-width: 900px;
    /*max-width: 1024px;*/
    max-width: 1100px;
    margin: 0 auto;
    zoom: 1;
    position: relative;
}
    @media screen and (max-width:1200px) {
        .container {
            min-width: 290px;
        }
    }
    @media screen and (max-width:1200px) {
        .container {
            width: 90%;
        }
    }
    @media screen and (max-width:820px) {
        .container {
            width: 90%;
        }
    }

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}


/*
    @todo: disconnect h1,h2,h3... apply in richText class only
*/

.heading1, h1 {}

.heading2, h2 {
    font-family: 'Antic Slab', sans-serif;
    font-size: 2.7em;
    color: #FFFFFF;
    line-height: 1.25em;
    margin-bottom: 1em;
    text-shadow: 0px 2px 13px rgba(0,0,0,0.50);
	/*letter-spacing: .001em;*/
}

.heading3, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 2.4em;
    color: #8CB1C4;
    line-height: 1.2em;
    margin-bottom: .6em;
    letter-spacing: 0.01em;
}
    @media (max-width: 600px) {
        .heading3, h3 {
            font-size: 2em;
        }
    }

.heading4, h4 {
	font-family: 'Antic', serif;
	font-size: 1.4em;
	color: #95B45B;
	line-height: 1.35em;
	margin-bottom: .7em;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
    @media (max-width: 600px) {
        .heading4, h4 {
            font-size: 1.2em;
        }
    }

.heading5, h5 {
    font-family: 'Antic Slab', sans-serif;
    font-size: 1.2em;
    color: #787980;
    line-height: 1.2em;
    margin-bottom: .7em;
}
    .heading5 {
        margin-bottom: 1.2em;
    }
	.heading5 i {
		color: #97CF65;
		font-size: .8em;
		padding-right: 10px;
	}
	.heading5.contentCenter i, .contentCenter .heading5 i {
		margin-left: -1.3em; /* Adjust left margin of heading when the heading is centered and includes an icon */
	}
    @media (max-width: 600px) {
        .heading5, h5 {
            font-size: 1.1em;
        }
    }

.heading6, h6 {}

.heading7 {
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
    color: inherit;
    margin-bottom: 1em;
}

blockquote {
	font-size: 1.2em;
	font-style: italic;
	color: #787980;
	line-height: 1.25em;
	padding-top: 40px;
	margin-bottom: .9em;
	margin-left: 75px;
}
	blockquote:before {
		content: '“';
		font-family: 'Source Sans Pro';
		font-size: 9em;
		color: #787980;
		display: block;
		float: left;
		margin-left: -110px;
		padding-left: 13px;
		line-height: .55;
	}
	blockquote sup {
		text-align: right;
		font-weight: bold;
	}

/**
 * Increase the spacing between the end of a paragraph and the start of a new heading
 */
p {
    margin-bottom: 1.2em;
}
    p + h2, p + a + h2,
    p + h3, p + a + h3,
    p + h4, p + a + h4,
    p + h5, p + a + h5 {
        margin-top: 1.5em;
    }


/**
 * These classes are mainly for use in CKEditor. CKEditor can only apply one class at a time, so all subclasses must include the base class's styles
 */
.align, .align_left, .align_right, .align_center {
    max-width: 100%;
    margin-bottom: 1.5em;
}
.align_left, .align_right {
    max-width: 40%;
}
.align_left {
    float: left;
    margin-right: 2em;
    margin-left: 0;
}
.align_right {
    float: right;
    margin-left: 2em;
    margin-right: 0;
}
.align_right figcaption {
    text-align: right;
}
.align_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media (max-width:800px) {
    .align_left > figcaption,
    .align_right > figcaption,
    .align_center > figcaption {
        font-size: .75em;
    }
}
@media (max-width: 600px) {
    .align_left, .align_right, .align_center {
        float: none;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .align_left > figcaption,
    .align_right > figcaption {
        text-align: center;
    }
}

.columnize2 li, .columnize3 li, .columnize4 li {
    padding-right: 2.5em;
}

.txtBox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

	background: none;
    /*background-image: linear-gradient(180deg, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.02) 100%);*/
    background-image: linear-gradient(180deg, rgba(145, 165, 175, 0.10) 0%, rgba(145, 165, 175, 0.06) 100%);

    border: 0;
    font-size: .8em;
    color: #444;
    padding: 0 20px;
    margin: 0 10px 10px 0;
    /*width: 250px;*/
    height: 48px;
    line-height: 48px;

    display: inline-block;
    vertical-align: top;

    -moz-box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.33);
    box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.33);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 24px;
}
    .txtBox-default.txtBox-default {
        color: #ccc;
    }
    .txtBox:hover, .txtBox:focus {
        outline: none;
    }
    .txtBox:focus {
        background: #fdfdfd;
    }

.txtBox_select {
    -webkit-appearance: normal;
    -moz-appearance: normal;
    appearance: normal;

    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-color: #fdfdfd;
    background-image: url(images/arrow-down.png);
    background-position: right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: .8em;
    overflow: hidden;
    height: auto;
    line-height: 1.5em;
    padding: 5px 10px;
    padding-right: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    max-width: 100%;
}
.txtBox_error {}


@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .txtBox_select {
        background-image: url(images/arrow-down@2x.png);
        background-size: 20px 7px;
    }
}
.txtBox_select:hover {
    border-color: #95B45B;
}


.txtBox_dark {
	background-image: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.09) 100%);

    -moz-box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.33);
	box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.33);

    color: #eee;
}
    /*.txtBox_dark:hover {
        background-image: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.08) 100%);
    }*/
	.txtBox_dark:focus {
		background: rgba(0,0,0,0.3);
	}

/* for use on textareas */
.txtBox_multi {
    line-height: 1.4em;
    min-height: 150px;
	vertical-align: top;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    background: none;

    z-index: 1;

    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 2px 18px;
    padding: 8px 40px;

    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    
    font-weight: 600;
    font-style: italic;
    color: #fff;
    font-size: 1em;
    text-align: center;

    text-decoration: none; 
}
    .btn i {
        font-size: .8em;
        margin-right: 4px;
    }
    
.btn_colored {
	background-image: linear-gradient(70deg, rgba(88, 174, 155, 1) 0%, rgba(97, 189, 118, 1) 100%);
	/*background: linear-gradient(34deg, rgba(39, 180, 159, 1) 15%, rgba(97, 189, 118, 1) 97%);*/
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.57);
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.57);
    text-shadow: 0px 2px 0px rgba(0,0,0,0.15);
}
	.btn_colored:hover, .btn_colored:focus {
		background: linear-gradient(34deg, rgb(70, 188, 168) 15%, rgba(126, 200, 142, 1) 97%);
		text-shadow: 0px 2px 0px rgba(0,0,0,0.25);
		color: #fff;
	}
	.btn_colored:active {
        -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.57);
        -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.57);
		box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.57);
	}
	.btn_colored:visited {
		color: #fff;
	}
.btn_narrow {
    padding: 4px 12px;
    font-size: .9em;
}
.btn_small {
	font-size: .8em;
	padding: 2px 60px;
}
.btn_xSmall {
    font-size: .8em;
    padding: 2px 20px;
}

.btn_transparent {
    background-image: linear-gradient(145deg, rgba(255,255,255,0.20) 0%, rgba(255,255,255,0.6) 100%);

    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.18);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.18);

    text-shadow: 0px 2px 1px rgba(0,0,0,0.25);
}
    .btn_transparent:hover, .btn_transparent:focus {
        background-image: linear-gradient(145deg, rgba(255,255,255,0.40) 0%, rgba(255,255,255,0.7) 100%);
    }
    .btn_transparent i {
        text-shadow: none;
    }


main {
    display: block; /* Fix for IE */
}
.main {
    min-height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.layout_modal .main {
    min-height: 0;
}


.MarkupPagerNav {
    margin: .5em 0;
    padding: 0;
}
    .MarkupPagerNav li {
        display: inline-block;
        list-style: none;
        margin: 0;
    }
    .MarkupPagerNav li a,
    .MarkupPagerNav li.MarkupPagerNavSeparator {
        display: inline-block;
        padding: 4px 12px;
        color: #fff;
        background: #87b153;
        margin-left: 2px;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;

        text-shadow: 0px 1px 0px 2px rgba(0,0,0,0.57);

        -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.57);
        -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.57);
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.57);
    }
    .MarkupPagerNav li.MarkupPagerNavOn a,
    .MarkupPagerNav li a:hover {
        color: #fff;
        background: #7ea2b5;
        text-decoration: none;
    }
    .MarkupPagerNav li.MarkupPagerNavSeparator {
        display: inline;
        color: #87b153;
        background: #d2e4ea;
        padding-left: 3px;
        padding-right: 3px;
    }